@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(255, 228, 196, 0.651);
}

main{
    width: 1600px;
    background-color: white;
    margin: auto;
    padding: 20px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
}

h1{
    text-align: center;
    padding: 20px 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.9em;
}

table{
    border-collapse: collapse;
}

td, th{
    border: 1px solid black;
    padding: 0px;
}

table.t1{
    margin-left: 100px;
    width: 200px;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.144);
}

table.t1 thead{
    background-color: lightcyan;
}

table.t1 th{
    padding: 5px;
}

table.t1 input{
    border: 0px;
    height: 25px;
    width: 100px;
    text-align: center;
}

table.t1 td#isoma{
    font-size: 0.9em;
    text-align: center;
}

table.t1 button{
    border: 0px;
    width: 100%;
    padding: 6.5px;
    color: black;
    background-color: lightcyan;
    font-size: 0.9em;
    margin: 0px;
}

table.t1 tfoot td, table.t1 tfoot th{
    box-sizing: border-box;
}

table.t1 button:hover{
    color: white;
    font-weight: bold;
    background-color: black;
    cursor: pointer;
    border: 2px solid white;
}

table.t1 label:hover{
    cursor: pointer;
}

table.t1 > tfoot > tr > th{
    padding: 0px;
}

fieldset{
    padding: 5px;
    margin-top: 20px;
    width: 300px;
    margin-left: 100px;
}

table.t2{
    margin-top: 200px;
    margin-left: 100px;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.144);
}

table.t2 input{
    border: 0px;
    height: 25px;
    width: 150px;
    text-align: center;
}

button{
    padding: 1px;
    width: 54px;
    margin: 5px;
}